@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #F3F3F3;
}

header{
    width: 100vw;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;  
    justify-content: space-between;  
    position: fixed;
    top: 0;
    left: 0;
}
header .item{
    margin: auto 30px;
}
header .logo{
    width: 75px;
    height: 53px;
}
header .pessoas{    
    width: 42.19px;
    height: 30.94px;
}
/*--------------------------------------------------------*/

.login{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    z-index: 1; 
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container img{
    margin-top: 80px;
    width: 130px;
    height: 92px;
}

.login input{
    margin-top: 80px;
    width: 261px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: black;
}

.login input::placeholder{
    color: #AEAEAE;
}

.login button{
    margin-top: 20px;
    width: 109px;
    height: 45px;
    background: #E7E7E7;
    border-radius: 9px;
    color: #AEAEAE;
    border: none;
}
.load{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.load .loading{
    margin-top: 80px;
    width: 150px;
    height: 150px;
}

.load .logo-load{
    margin-top: 80px;
    width: 130px;
    height: 92px;
}
.load p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
}
/*--------------------------------------------------------*/

main{
    margin: 100px 0;
}
.msg{
    display: flex;    
    margin: 5px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    width: 100%;
}
.status{
    background-color:#DCDCDC;
}
.message{
    background-color:#FFFFFF;
}
.private_message{
    background-color:#FFDEDE;
}
.msg .item{
    margin: 15px 5px;
}
strong{
    font-weight: bold;
}
time{
    color: #AAAAAA;
}
/*--------------------------------------------------------*/

.fundo{
    background-color: rgba(0, 0, 0, 0.692);
    height: 100%;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1;
}
.esconde{
    display: none;
}
.selecionado{
    background-image: url('../img/check.svg');
    background-repeat: no-repeat;
    background-position: right center;
    margin-right: 30px;
}
aside{
    background-color: white;
    Height: 100%;
    width: 70%;
    position: fixed;
    top: 0;
    right: 0;  
    z-index: 2;  
}

aside img{
    Width: 20.31px;
    Height: 20.31px;
}

aside h1{
    margin: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;

}

aside .item{
    display: flex;
    align-items: center;

}
aside img{
    margin: 10px;
}
/*--------------------------------------------------------*/

footer{
    position: fixed;
    width: 100vw;
    height: 80px;
    left: 0px;
    bottom: 0px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.botao{
    Width: 26px;
    Height: 26px;
}
footer .item{
    margin: auto 20px;
}
.enviar-msg{
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    height: 30px;
    width: 100%;
}
.enviar-msg::placeholder{
    border: none;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
footer p{
   color: #505050;
   font-size: 14px;
   
}